<div
  class="container-presentacion m-auto py-8 bg-zinc-950 w-full px-4 sm:px-8 md:px-16 lg:px-56 min-h-screen"
>
  <h2
    class="text-center font-bold text-3xl sm:text-4xl md:text-5xl text-slate-50"
  >
    Un espacio para ti
  </h2>
  <p class="text-base sm:text-lg py-5 text-gray-300 text-center">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolor illo
    odit minima praesentium dolores vitae voluptas qui soluta laboriosam. Nobis
    minima cupiditate distinctio culpa officiis eos adipisci sit. Voluptate. Ex
    sit sunt explicabo molestias rerum maxime, adipisci sequi nesciunt harum!
    Quo modi, fugit repellat doloremque inventore consectetur quas, corrupti
    sint quisquam eligendi tenetur veritatis cupiditate dolor ea magni
    distinctio? Culpa commodi voluptatem animi cum at earum deleniti in,
    laudantium eveniet quidem amet praesentium voluptatibus laboriosam hic natus
    voluptates corporis enim ullam nobis harum optio cumque pariatur! Aliquam,
    sint accusantium. Quidem consectetur tempora illo recusandae itaque velit
    debitis totam culpa, delectus repellat voluptatum mollitia aspernatur facere
    voluptates rem alias in ea odit explicabo earum cumque. Ut recusandae
    quisquam et obcaecati! Voluptatum animi non sint officiis voluptas esse
    ducimus numquam repellat unde dicta asperiores ex, illum possimus quidem a
    atque suscipit. Esse ex quas atque, animi architecto officia eveniet veniam
    at?
  </p>
  <p class="text-base sm:text-lg text-center text-gray-300">
    ¡Visítanos y descubre por qué somos la elección preferida!
  </p>
  <div class="flex flex-col sm:flex-row sm:justify-center py-5">
    <button
      class="text-slate-50 border-solid border-2 border-slate-50 w-full sm:w-32 h-12"
    >
      Reservar
    </button>
  </div>
</div>
