<div
  class="m-auto py-8 bg-zinc-950 w-full border-b-2 border-white px-[10%] sm:px-[8%] md:px-[10%] lg:px-[10%]py-9"
>
  <h3 class="text-center text-slate-50 text-5xl">Contactanos</h3>
  <p class="text-center text-gray-400 py-9">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde animi facilis
    odio sit necessitatibus possimus culpa rem numquam nesciunt. Ab nulla fugiat
    illum dolor facere perferendis velit explicabo veniam mollitia. Lorem, ipsum
    dolor sit amet consectetur adipisicing elit. Quisquam ipsum ratione libero
    vel nemo ullam eveniet voluptatem exercitationem neque ipsam? Et consectetur
    aliquam molestiae libero esse eum! Possimus, quod dolores.
  </p>
  <form action="" class="text-center">
    <div class="py-4">
      <label for="" class="text-slate-50">Nombre:</label>
      <input
        type="text"
        class="border border-slate-50 bg-zinc-950 text-slate-50 h-5 focus:outline-none text-xs"
      />
    </div>
    <div class="py-4">
      <label for="" class="text-slate-50">Número:</label>
      <input
        type="text"
        class="border border-slate-50 bg-zinc-950 text-slate-50 h-5 focus:outline-none text-xs"
      />
    </div>
    <div class="py-4">
      <label for="" class="text-slate-50">Correo:</label>
      <input
        type="text"
        class="border border-slate-50 bg-zinc-950 text-slate-50 h-5 focus:outline-none text-xs"
      />
    </div>
    <div class="py-4 flex justify-center">
      <div class="flex flex-col items-start">
        <label for="" class="text-slate-50">Mensaje:</label>
        <textarea
          name=""
          id=""
          rows="4"
          cols="27"
          class="bg-zinc-950 text-slate-50 border border-slate-50 focus:outline-none text-xs"
        ></textarea>
      </div>
    </div>
    <button
      class="text-slate-50 hover:bg-gray-500 border-solid border-2 border-slate-50 w-2/4 md:w-24 h-7 mt-6"
    >
      Enviar
    </button>
  </form>
</div>
