<div class="bg-zinc-950 py-9">
  <h3 class="text-center text-slate-50 text-5xl">Contactanos</h3>
  <p class="text-center text-gray-400 lg:px-56 py-9">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde animi facilis
    odio sit necessitatibus possimus culpa rem numquam nesciunt. Ab nulla fugiat
    illum dolor facere perferendis velit explicabo veniam mollitia. Lorem, ipsum
    dolor sit amet consectetur adipisicing elit. Quisquam ipsum ratione libero
    vel nemo ullam eveniet voluptatem exercitationem neque ipsam? Et consectetur
    aliquam molestiae libero esse eum! Possimus, quod dolores.
  </p>
  <form action="" class="text-center">
    <div class="py-4">
      <label for="" class="text-slate-50">Nombre:</label>
      <input
        type="text"
        class="bg-zinc-950 text-slate-50 focus:outline-none border-b-2 border-slate-50"
      />
    </div>
    <div class="py-4">
      <label for="" class="text-slate-50">Número:</label>
      <input
        type="text"
        class="bg-zinc-950 text-slate-50 focus:outline-none border-b-2 border-slate-50"
      />
    </div>
    <div class="py-4">
      <label for="" class="text-slate-50">Correo:</label>
      <input
        type="text"
        class="bg-zinc-950 text-slate-50 focus:outline-none border-b-2 border-slate-50"
      />
    </div>
    <div class="py-4">
      <label for="" class="text-slate-50 flex flex-col">Mensaje:</label>
      <textarea
        name=""
        id=""
        rows="5"
        cols="35"
        class="bg-zinc-950 text-slate-50 border border-slate-50"
      ></textarea>
    </div>
    <button class="text-slate-50 border border-slate-50 w-1/12 h-1/12">
      Enviar
    </button>
  </form>
</div>
