<div
  class="m-auto py-8 bg-zinc-950 w-full border-b-2 border-white px-[10%] sm:px-[8%] md:px-[10%] lg:px-[10%]py-9"
>
  <h2 class="text-center text-slate-50 text-5xl">Contactanos</h2>
  <p class="text-center py-9 text-slate-50">
    En Barbería JB, tu satisfacción es nuestra prioridad. Si tienes preguntas,
    necesitas más información sobre nuestros servicios o deseas hacer una cita,
    no dudes en ponerte en contacto con nosotros. Estamos disponibles para
    atenderte y asegurarnos de que tu experiencia sea única. ¡No esperes más y
    déjanos cuidar de tu estilo!
  </p>
  <p class="text-base sm:text-lg text-center text-slate-50">
    Visítanos, llámanos o envíanos un mensaje y estaremos encantados de
    ayudarte.
  </p>
  <form action="" class="text-center">
    <div class="py-4">
      <label for="" class="text-slate-50">Nombre:</label>
      <input
        type="text"
        class="border border-slate-50 bg-zinc-950 text-slate-50 h-5 focus:outline-none text-xs"
      />
    </div>
    <div class="py-4">
      <label for="" class="text-slate-50">Número:</label>
      <input
        type="text"
        class="border border-slate-50 bg-zinc-950 text-slate-50 h-5 focus:outline-none text-xs"
      />
    </div>
    <div class="py-4">
      <label for="" class="text-slate-50">Correo:</label>
      <input
        type="text"
        class="border border-slate-50 bg-zinc-950 text-slate-50 h-5 focus:outline-none text-xs"
      />
    </div>
    <div class="py-4 flex justify-center">
      <div class="flex flex-col items-start">
        <label for="" class="text-slate-50">Mensaje:</label>
        <textarea
          name=""
          id=""
          rows="4"
          cols="27"
          class="bg-zinc-950 text-slate-50 border border-slate-50 focus:outline-none text-xs"
        ></textarea>
      </div>
    </div>
    <button
      class="text-slate-50 hover:bg-gray-500 border-solid border-2 border-slate-50 w-2/4 md:w-24 h-7 mt-6"
    >
      Enviar
    </button>
  </form>
</div>
