<div class="py-8 bg-zinc-950 w-full border-b-2 border-white">
  <section class="py-7 m-auto px-[10%] sm:px-[8%] md:px-[10%] lg:px-[10%]">
    <h2
      class="text-center text-3xl md:text-5xl text-gray-200"
      data-aos="fade-down"
    >
      Servicios
    </h2>
    <p
      class="text-base md:text-lg py-4 text-gray-300 text-center"
      data-aos="fade-up"
    >
      En Barbería JB ofrecemos una amplia variedad de cortes y afeitados
      diseñados para resaltar tu estilo único. Ya sea que busques un look
      moderno, clásico o una renovación total, nuestro equipo está listo para
      brindarte un servicio de calidad en un ambiente pensado para ti. ¡Explora
      nuestras opciones y encuentra el estilo que mejor te representa!
    </p>
  </section>

  <!-- Componente Servicios -->
  <section class="py-6 m-auto px-[10%] sm:px-[8%] md:px-[10%] lg:px-[10%]">
    <app-servicio></app-servicio>
  </section>
</div>
