<div
  class="container-servicios m-auto w-full py-16 px-56 min-h-svh bg-zinc-950 border-b border-b-white"
>
  <h2 class="text-center text-5xl text-gray-200">Servicios</h2>
  <p class="text-lg py-7 text-gray-300 text-center">
    Lorem Ipsumes simplemente el texto de relleno de las imprentas y archivos de
    texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias
    desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la
    imprenta) desconocido usó una galería de textos y los mezcló de tal manera
    que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años,
    sino que tambien ingresó como texto de relleno en documentos electrónicos,
    quedando esencialmente igual al original. Fue popularizado en los 60s con la
    creación de las hojas
  </p>
  <section>
    <article></article>
  </section>
</div>
