<header
  class="bg-transparent bg-black py-2 px-28 w-full border-b border-b-white fixed top-0 left-0 z-50"
>
  <nav class="flex flex-col md:flex-row justify-between justify-items-center">
    <div class="logo flex flex-row justify-items-center justify-center">
      <img src="../../../assets/logo_barber.png" alt="Logo" class="w-16" />
    </div>
    <div
      class="flex flex-col justify-items-center items-center gap-6 md:flex-row"
    >
      <a
        routerLink=" "
        class="text-xl text-slate-200 hover:text-gray-400 transition"
        >Inicio</a
      >
      <a
        routerLink="/cortes"
        routerLinkActive="active"
        class="text-xl text-slate-200 hover:text-gray-400 transition"
        >Cortes</a
      >
      <a
        routerLink="/productos"
        class="text-xl text-slate-200 hover:text-gray-400 transition"
        >Productos</a
      >
      <a
        routerLink=" "
        class="text-xl text-slate-200 hover:text-gray-400 transition"
        >Contacto</a
      >
    </div>
  </nav>
</header>
