<header
  class="bg-transparent bg-black py-2 px-28 w-full border-b border-b-white fixed top-0 left-0 z-50"
>
  <nav class="flex flex-col md:flex-row justify-between justify-items-center">
    <div class="logo flex flex-row justify-items-center justify-center">
      <img src="../../../assets/logo_barber.png" alt="Logo" class="w-16" />
    </div>
    <div
      class="flex flex-col justify-items-center items-center gap-6 md:flex-row"
    >
      <button
        data-collapse-toggle="navbar-default"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-300"
        aria-controls="navbar-default"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul
          class="font-medium flex flex-col p-4 md:p-0 mt-4 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 text-center"
        >
          <li>
            <a
              routerLink="/"
              class="block py-2 px-3 text-xl text-slate-200 hover:text-gray-400 transition"
              >Inicio</a
            >
          </li>
          <li>
            <a
              routerLink="/cortes"
              class="block py-2 px-3 text-xl text-slate-200 hover:text-gray-400 transition"
              >Cortes</a
            >
          </li>
          <li>
            <a
              routerLink="/productos"
              class="block py-2 px-3 text-xl text-slate-200 hover:text-gray-400 transition"
              >Productos</a
            >
          </li>
          <li>
            <a
              routerLink=" "
              class="block py-2 px-3 text-xl text-slate-200 hover:text-gray-400 transition"
              >Contacto</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
