<div class="flex flex-wrap justify-center gap-4">
  <!-- Contenedor de cada sección -->
  <section
    class="bg-gray-300 flex flex-col md:flex-row lg:flex-row p-4 w-[90%] lg:w-[45%] lg:w-[45%] m-2 h-auto rounded-lg"
    *ngFor="let corte of cortes"
    data-aos="zoom-in"
  >
    <!-- Imagen -->
    <article class="w-full md:w-2/5 p-2">
      <img
        [src]="corte.imagen"
        [alt]="corte.nombre"
        class="w-full h-full object-cover rounded-lg"
      />
    </article>
    <!-- Texto -->
    <article
      class="p-4 flex flex-col justify-center items-center w-full md:w-3/5"
    >
      <h3 class="text-center text-3xl">{{ corte.nombre }}</h3>
      <ul class="text-lg">
        <li *ngFor="let servicio of corte.incluye.slice(0, 5)">
          {{ servicio }}
        </li>
      </ul>
      <div class="py-4">
        <button
          class="text-black hover:bg-gray-200 border-solid border-2 border-black w-32 h-12"
          (click)="openDialog(corte)"
        >
          Más Info
        </button>
      </div>
    </article>
  </section>

  <!-- Diálogo de Servicios -->
  <app-servicio-dialogo
    [corte]="selectedCorte"
    [isModalOpen]="isDialogOpen"
    (close)="closeDialog()"
  ></app-servicio-dialogo>
</div>
