<div class="flex flex-wrap justify-center gap-4">
  <!-- Contenedor de cada sección -->
  <section
    class="bg-gray-300 flex flex-col lg:flex-row p-4 w-[90%] md:w-[90%] lg:w-[45%] m-2 h-auto rounded-lg"
    *ngFor="let corte of cortes"
  >
    <!-- Imagen -->
    <article class="w-full lg:w-2/5 p-2">
      <img
        [src]="corte.imagen"
        [alt]="corte.nombre"
        class="w-full h-full object-cover rounded-lg"
      />
    </article>
    <!-- Texto -->
    <article
      class="p-4 flex flex-col justify-center items-center w-full lg:w-3/5"
    >
      <h3 class="text-center text-3xl">{{ corte.nombre }}</h3>
      <ul class="text-lg">
        <!-- Limitar la cantidad de servicios mostrados -->
        <li *ngFor="let servicio of corte.incluye.slice(0, 5)">
          {{ servicio }}
        </li>
      </ul>
      <div class="py-4">
        <app-servicio-dialogo></app-servicio-dialogo>
      </div>
    </article>
  </section>
</div>
