<div class="container-servicios flex flex-wrap justify-center gap-4 hero-image">
  <section
    class="flex flex-col lg:flex-col px-4 w-[100%] md:w-[100%] lg:w-[45%] h-auto rounded-lg"
  >
    <h2 class="py-7 text-center text-5xl text-gray-200">Bebidas</h2>
    <p class="text-center text-lg py-7 text-gray-300">
      En Barbería JB no solo nos importa tu estilo, sino también tu comodidad.
      Por eso, hemos preparado una selección de bebidas especiales para que
      disfrutes mientras vives la experiencia en nuestra barbería. Relájate con
      una refrescante bebida, ya sea una cerveza artesanal, un café aromático o
      una bebida refrescante, y deja que tu tiempo con nosotros sea aún más
      agradable. ¡La calidad de nuestros servicios va acompañada de la mejor
      compañía en cada sorbo!
    </p>
  </section>
  <swiper-container class="slider-bebidas w-full mx-auto">
    <swiper-slide
      *ngFor="let bebida of bebidas; let i = index"
      class="swiper-slide flex justify-center items-center"
    >
      <div class="rounded-lg shadow-md p-4 w-full max-w-sm">
        <img
          [src]="bebida.url_img"
          [alt]="bebida.nombre"
          class="w-full h-36 object-cover rounded-md"
        />
        <h3 class="text-white text-xl mt-4">{{ bebida.nombre }}</h3>
        <p class="text-white mt-px">{{ bebida.descripcion }}</p>
        <p class="text-lg font-semibold mt-px text-green-600">
          {{ bebida.precio }}
        </p>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
