<div
  class="container-servicios min-h-screen bg-zinc-950 border-b border-b-white pb-7 hero-image"
>
  <section class="m-auto w-[90%] lg:w-[80%] py-7 px-6 md:px-12 lg:px-56">
    <h2 class="text-center text-5xl text-gray-200">Bebidas</h2>
    <p class="text-lg py-7 text-gray-300 text-center">
      En Barbería JB no solo nos importa tu estilo, sino también tu comodidad.
      Por eso, hemos preparado una selección de bebidas especiales para que
      disfrutes mientras vives la experiencia en nuestra barbería. Relájate con
      una refrescante bebida, ya sea una cerveza artesanal, un café aromático o
      una bebida refrescante, y deja que tu tiempo con nosotros sea aún más
      agradable. ¡La calidad de nuestros servicios va acompañada de la mejor
      compañía en cada sorbo!
    </p>
  </section>

  <section>
    <app-carrucel [items]="bebidas" carrucelId="bebidasCarrusel"></app-carrucel>
  </section>
</div>
