<div
  class="container-servicios min-h-screen bg-zinc-950 border-b border-b-white pb-7 hero-image"
>
  <section class="m-auto w-[90%] lg:w-[80%] py-7 px-6 md:px-12 lg:px-56">
    <h2 class="text-center text-5xl text-gray-200">Productos</h2>
    <p class="text-lg py-7 text-gray-300 text-center">
      En Barbería JB, sabemos que el cuidado personal no termina cuando sales de
      la barbería. Por eso, te ofrecemos una selección de productos de alta
      calidad para que puedas mantener tu imagen impecable todos los días. Desde
      productos para el cuidado del cabello hasta lociones y aceites para
      afeitado, cada artículo ha sido elegido pensando en las necesidades de tu
      estilo y bienestar. Lleva la experiencia JB a casa y luce siempre como lo
      deseas.
    </p>
  </section>

  <section>
    <app-carrucel
      [items]="productos"
      carrucelId="productosCarrusel"
    ></app-carrucel>
  </section>
</div>
