<div class="container-servicios flex flex-wrap justify-center gap-4 hero-image">
  <section
    class="flex flex-col lg:flex-col px-4 w-[100%] md:w[100%] lg:w-[45%] h-auto rounded-lg"
  >
    <h2 class="py-7 text-center text-5xl text-gray-200">Productos</h2>
    <p class="text-lg py-7 text-gray-300 text-center">
      En Barbería JB, sabemos que el cuidado personal no termina cuando sales de
      la barbería. Por eso, te ofrecemos una selección de productos de alta
      calidad para que puedas mantener tu imagen impecable todos los días. Desde
      productos para el cuidado del cabello hasta lociones y aceites para
      afeitado, cada artículo ha sido elegido pensando en las necesidades de tu
      estilo y bienestar. Lleva la experiencia JB a casa y luce siempre como lo
      deseas.
    </p>
  </section>
  <swiper-container class="slider-productos w-full mx-auto">
    <swiper-slide
      *ngFor="let producto of productos; let i = index"
      class="swiper-slide flex justify-center items-center"
    >
      <div class="rounded-lg shadow-md p-4 w-full max-w-sm">
        <img
          [src]="producto.url_img"
          [alt]="producto.nombre"
          class="w-full h-36 object-cover rounded-md"
        />
        <h3 class="text-white text-xl mt-4">
          {{ producto.nombre }}
        </h3>
        <p class="text-white mt-px">{{ producto.descripcion }}</p>
        <p class="text-green-600 text-lg font-semibold mt-px">
          {{ producto.precio }}
        </p>
      </div>
    </swiper-slide>
  </swiper-container>
</div>
