<!-- <h2>Barberia</h2>
<div *ngFor="let corte of cortes">
  <h3>{{ corte.nombre }}</h3>
  <p>Tipo de Corte: {{ corte.tipo_corte }}</p>
  <p>Descripción: {{ corte.descripcion }}</p>
  <p>Precio: {{ corte.precio }}</p>
  <p>Incluye:</p>
  <ul>
    <li *ngFor="let servicio of corte.incluye">{{ servicio }}</li>
  </ul>
  <img [src]="corte.imagen" alt="{{ corte.nombre }}" />
  <hr />
</div> -->
<app-header></app-header>
<app-welcome></app-welcome>
<app-presentacion></app-presentacion>
<!-- <app-bebidas></app-bebidas> -->
<app-servicios></app-servicios>
<app-bebidas></app-bebidas>

<app-productos></app-productos>
<app-horario></app-horario>
<app-ubicacion></app-ubicacion>
<app-servicio-dialogo></app-servicio-dialogo>
<app-contacto></app-contacto>
