<div class="hero-image">
  <div class="text-center py-24">
    <h3 class="text-5xl py-9 text-slate-50">Horario</h3>
    <div class="py-7 text-2xl text-slate-50">
      <p>Lunes a Viernes</p>
      <p class="text-gray-400">9:00 am - 8:00 pm</p>
    </div>
    <div class="py-7 text-2xl text-slate-50">
      <p>Sabado</p>
      <p class="text-gray-400">9:00 am - 9:00 pm</p>
    </div>
    <div class="py-7 text-2xl text-slate-50">
      <p>Domingo</p>
      <p class="text-gray-400">Cerrado</p>
    </div>
  </div>
</div>
