<div class="bg-zinc-950 flex justify-around py-10">
  <p class="text-center text-slate-50">© 2025 Barberia JB</p>
  <div class="flex">
    <img
      src="../../../assets/icons/facebook.png"
      alt="facebook"
      class="w-2/12"
    />
    <img
      src="../../../assets/icons/instagram.png"
      alt="instagram"
      class="w-2/12"
    />
    <img
      src="../../../assets/icons/twitter-x.png"
      alt="twitter-x"
      class="w-2/12"
    />
    <img
      src="../../../assets/icons/whatsapp.png"
      alt="twitter-x"
      class="w-2/12"
    />
  </div>
</div>
